:root {
  --sec: BurlyWood;
}
body {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: DarkKhaki;
}
@keyframes 얼굴 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes 코 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes 귀왼쪽 {
  from {
    transform: rotate(-20deg);
  }

  to {
    transform: rotate(-40deg) translateX(-10px);
  }
}
@keyframes 귀오른쪽 {
  from {
    transform: rotate(20deg);
  }

  to {
    transform: rotate(40deg) translateX(10px);
  }
}

.quokka {
  position: relative;
  top: 95px;
  margin: 50px auto;
  width: 400px;
  height: 420px;
  animation: 얼굴 3s infinite alternate;
}

.quokka .ear {
  position: absolute;
  width: 150px;
  height: 160px;
  /* border: 10px solid rgb(31, 27, 27); */
  border-radius: 50%;
  background-color: var(--sec);
}

.quokka .ear.left {
  top: 35px;
  left: 1px;
  transform: rotate(-20deg);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  animation: 귀왼쪽 0.7s infinite alternate;
}

.quokka .ear.right {
  top: 35px;
  right: 60px;
  transform: rotate(20deg);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  animation: 귀오른쪽 0.7s infinite alternate;
}
.quokka .face {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 300px;
  height: 330px;
  border-radius: 50%;
  /* border: 10px solid #000; */
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  background-color: var(--sec);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.quokka .eye {
  position: absolute;
  top: 115px;
  width: 18px;
  height: 20px;
  border-radius: 70%;
  background-color: #000;
}

.eye.left {
  left: 100px;
}

.eye.right {
  right: 100px;
}

.nose {
  position: absolute;
  top: 140px;
  left: 126px;
  width: 48px;
  height: 45px;
  border-radius: 60% 60% 70% 70%;
  background-color: black;
  animation: 코 2s infinite alternate;
}

.mouth {
  position: absolute;
  left: 116px;
  bottom: 95px;
  width: 70px;
  height: 100px;
  border-top: 15px solid black;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  transform: rotate(180deg);
}

.mouthline {
  border-left: thick solid #000;
  height: 45px;
  left: 148px;
  bottom: 100px;
  position: absolute;
}

.heart .left {
  position: absolute;
  top: -43px;
  left: 139px;
  width: 30px;
  height: 19px;
  background-color: ForestGreen;
  border-radius: 30% 80% 0% 100% / 37% 100% 10% 83%;
  transform: rotate(30deg);
}

.heart .right {
  position: absolute;
  top: -43px;
  left: 154px;
  width: 30px;
  height: 19px;
  background-color: ForestGreen;
  border-radius: 100% 52% 100% 0% / 100% 61% 88% 60%;
  transform: rotate(-40deg);
}

.heart .line {
  position: absolute;
  border: thick solid ForestGreen;
  height: 33px;
  top: -25px;
  left: 158px;
  border-radius: 20%;
}

.tooth {
  position: absolute;
  left: 150px;
  bottom: 90px;
  transform: translate(-50%);
  width: 15px;
  height: 15px;
  border-radius: 0 0 35% 35%;
  background-color: white;
  box-shadow: 0 0 20px rgba(23, 21, 21, 0.5);
}
